<div class="container">
    <div class="row">
        <div class="col-6">
          <div class="form-group">
            <h3>Simulador de Gerenciamento de Processador</h3>
            <label for="comment">Insira os processos:</label>
            <textarea class="form-control txt-grammar" [(ngModel)]="textArea" placeholder="Digite os processos aqui ou abra em arquivo texto."></textarea>
          </div>
        </div>
        <div class="col-6">
          <h3>Manual</h3>
          <p>O manual pode ser acessado neste link:
            <br>
            <a href="https://docs.google.com/document/d/1M_eK21grBoxN4A99VNgBBrAJE_eE1RU1nw9V67GBqQc/edit?usp=sharing">https://docs.google.com/document/d/1M_eK21grBoxN4A99VNgBBrAJE_eE1RU1nw9V67GBqQc/edit?usp=sharing</a>
          </p>
        </div>
      </div>
      <div class="Block">
          <input type='file' (change)="fileLoad($event)">
      </div>
    <!-- <button class="btn btn-outline-dark" (click)="getData()">Simulador</button>
    <input id="inputRecognition" class="form-control" type="text" [(ngModel)]="pid"> -->
</div>