<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="position: relative">
  <a class="navbar-brand" routerLink="simulator">
    <img src="https://unisc.br/images/unisc_transp.png" alt="logo">
  </a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="simulator">
          <strong>Simulador de Gerenciamento de Processador - Sistemas Operacionais - Prof.: Ivan L. Süptitz</strong>
        </a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>