<div class="container">
    <div class="row">
        <div class="col-6">
          <div class="form-group">
            <h3>Simulador de Gerenciamento de Processador</h3>
            <label for="comment">Insira os processos:</label>
            <textarea class="form-control txt-cpu" [(ngModel)]="textArea" placeholder="Digite os processos aqui ou abra em arquivo texto."></textarea>
          </div>
          <div class="Block">
              <input type='file' (change)="fileLoad($event)">
          </div>
        </div>
        <div class="col-6">
          <h3>Manual</h3>
          <p>O manual pode ser acessado neste
            <a href="https://docs.google.com/document/d/1zhxaR5vAEfc6iDkvDfjtBh-w82e_Ow8H5iffpZGxgfg/edit?usp=sharing">link</a>
          </p>
          <label style="margin-top: 10px" for="exampleInputEmail1">Algoritmo</label>
          <div class="custom-control custom-radio">
            <input [(ngModel)]="operacao" type="radio" id="customRadioInline1" name="customRadioInline1" value="fifo" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline1">FIFO</label>
          </div>
          <div class="custom-control custom-radio">
            <input [(ngModel)]="operacao" type="radio" id="customRadioInline2" name="customRadioInline1" value="sjf" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline2">SJF</label>
          </div>
          <div class="custom-control custom-radio">
            <input [(ngModel)]="operacao" type="radio" id="customRadioInline3" name="customRadioInline1" value="rr" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline3">RR</label>
          </div>
          <br>
          <label>Tempo(ms)</label>
          <input type="number" [(ngModel)]="tempo" class="form-control" id="tempo" placeholder="Tempo">
        </div>
      </div>
      <button class="btn btn-outline-dark" (click)="start()">Iniciar</button>
      <div >
        <app-fcfs></app-fcfs>
      </div>
</div>